<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="messi.component.css">
</head>

<body>
    <div>
        <h1>Infografía Messi</h1>

        <img src="../../../assets/img/messi.jpg" class="rounded mx-auto d-block" alt="...">
        <div class="p">
            <p> nombre: "Leonel Messi",<br>
                bio: "futbolista argentino que juega como delantero o centrocampista en el Paris Saint-Germain de la Ligue 1 de Francia. Es internacional con la selección de Argentina, equipo del que es capitán y máximo goleador histórico.",<br>
                img: "assets/img/messi.jpg",<br>
                nacimiento: " 24 de junio de 1987",<br>
                seleccion:"Argentina"<br>
                equipo:"PSG"</p>
        </div>
    </div>
    <div class="boton1">
        <a class="btn btn-dark btn-lg" role="button" routerLink="/jugadores">Home</a>
    </div>
</body>

</html>

