<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ronaldo.component.css">
</head>

<body>
    <div>
        <h1>Infografía Ronaldo</h1>

        <img src="../../../assets/img/ronaldo.jpg" class="rounded mx-auto d-block" alt="...">
        <div class="p">
            <p> nombre: "Cristiano Ronaldo",<br>
                bio: "futbolista portugués que juega como delantero en el Manchester United Football Club de la Premier League de Inglaterra y en la selección de Portugal, de la cual es su capitán y máximo goleador histórico",<br>
                img: "assets/img/ronaldo.jpg",<br>
                nacimiento: "5 de febrero de 1985",<br>
                seleccion:"Portugal"<br>
                equipo:"Manchester UNITED"</p>
        </div>
    </div>
    <div class="boton1">
        <a class="btn btn-dark btn-lg" role="button" routerLink="/jugadores">Home</a>
    </div>
</body>

</html>


